@charset "ISO-8859-1";
body{
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: 'Times New Roman',sans-serif;
}
.center {
    width: 430px;
    margin: 130px auto;
    position: relative;
}
.center .header{
    font-size: 20px;
    font-weight: normal;
    padding: 15px 0 20px 15px;
    background: #f5f5f5;
    border-bottom: 1px solid #370e3f;
    border-radius: 5px 5px 0 0;
    border: 1px solid #e5e0e2;
}
.center form{
    position: absolute;
    background: white;
    width: 100%;
    padding: 10px 15px 10px 30px;
    box-sizing: border-box;
    border: 1px solid #e5e0e2;
    border-radius: 0 0 5px 5px;
}
.center form #email, #password{
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid silver;
    font-size: 15px;
    outline: none;
}
.center form #btnLogin{
    height: 40px;
    width: 95%;
    border-radius: 5px ;
    border: 1px solid white;
    color:  white;
    background-color: #5cb85c;
    font-size: 15px;
}
.center form #btnLogin:hover{
    background: #389e38;
    transition: .5s;
}
