hr { 
     
}
.add-content{
   width:95%;  
}
.add-content .text-add-content{
    margin-left: 2.5%;   
}
.add-content .form-add-content{
    margin: 16px 2.5%;   
    border: 1px solid rgb(221, 221, 221);
}
.add-content .title{
    margin-top:0;
    padding: 12px 16px ;
    border-bottom: 1px solid rgb(221, 221, 221);
    background-color: rgb(245, 245, 245);
}
.add-content .row-form{
    padding: 12px 16px;
}
.add-content label{
    display: block;
    font-weight: 550 ;
    margin-bottom: 8px;
}
.add-content .textbox{
    width: 70%;
    min-height: 32px;
    border: 1px solid rgb(204, 204,204);
    border-radius: 4px;
    padding: 4px 12px;
    
}
.add-content .button{
    border: 1px solid rgb(204, 204,204);
    border-radius: 4px;
    background-color: white;
    padding: 8px 16px;
    margin-top: -8px;
    cursor: pointer;
}
.add-content .textbox.red{
    border: 1px solid red;
}

.add-content .mes{
    color: red;
    margin : 4px 0px 0px 4px ;
    display: none;
}    
.add-content .mes.show{
    display: block;
}